/* General Styling */

/*NO ANY REGISTER FOR USER ONLY GIVING BY COMPANY*/
/*password : "abc123456"   staffId : "S001"*/
.auth-link {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* Container */
.container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Logo */
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.website-logo {
    width: 100px;
    height: auto;
}

/* Section Title */
.section-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Auth Forms */
.auth-form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.auth-btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.auth-btn:hover {
    background: #125ab7;
}

.auth-link {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.auth-link a {
    color: #125ab7;
    text-decoration: none;
}

.auth-link a:hover {
    text-decoration: underline;
}

.like-btn {
    cursor: pointer;
}

.comment-btn {
    cursor: pointer;
}